@import url('https://fastly.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

* {margin: 0; padding: 0; list-style: none; text-decoration: none; box-sizing: border-box; color: inherit; font-family: Galmuri11;}

.container {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

    width: fit-content;
    height: calc(100vh - 50px);
    
    margin: 25px;
    overflow: hidden;
    transition: .3s;
}

.frame {
    display: flex;

    width: fit-content;
    height: fit-content;
}

.sword-info {
    /* height: 100%; */
}

.left-frame {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 750px;
    height: 100%;
}

.right-frame {
    display: flex;
    flex-direction: column;
    gap: 25px;

    width: 100%;
    height: fit-content;
    padding: 50px;

    background-color: rgba(0, 0, 0, 0.125);
}

.item {
    width: 150px;
    height: 150px;
}

.item img {
    width: 100%;
    height: 100%;
    
    animation: swordEffect 2.5s infinite forwards alternate-reverse ease-in-out;
    object-fit: cover;
}

.right-frame h2 {
    color: rgba(0, 0, 0, 0.5);
}

.button-group {
    display: flex;
    gap: 25px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 12.5px 25px;
    
    background-color: black;
    color: #fff;
    cursor: pointer;
}

.wallet {
    position: absolute;
    right: 0;
    top: 0;

    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.125);
}

.theme {
    position: absolute;
    left: 0;
    top: 0;
    
    padding: 10px 15px;
    
    color: #fff;
    background-color: #000;
    cursor: pointer;
}

.refresh {
    width: fit-content;
    padding: 10px 15px;
    
    background-color: black;
    color: #fff;
    cursor: pointer;
}

.information {
    width: fit-content;
    padding: 10px 15px;
    
    background-color: black;
    color: #fff;
    cursor: pointer;
}

#theme:checked ~ .theme-popup {
    display: flex;
}

#theme:checked ~ .theme-close-popup {
    display: block;
}

#information:checked ~ .information-popup {
    display: flex;
}

#information:checked ~ .information-close-popup {
    display: block;
}

.theme-popup {
    position: absolute;
    left: 0;
    top: 0;

    display: flex;
    display: none;
    flex-direction: column;
    gap: 15px;

    width: 150px;
    padding: 10px 15px;

    background-color: black;
    color: #fff;
    cursor: pointer;

    z-index: 100;
}

.information-popup {
    position: absolute;
    left: 50%;
    bottom: 50%;

    display: flex;
    display: none;
    flex-direction: column;
    gap: 15px;

    width: fit-content;
    height: fit-content;
    padding: 10px 15px;

    transform: translate(-50%, 50%);
    background-color: black;
    color: #fff;

    z-index: 100;
}

.theme-close-popup {
    position: absolute;

    display: none;

    width: 100vw;
    height: 100vh;
}

.information-close-popup {
    position: absolute;

    display: none;

    width: 100vw;
    height: 100vh;
}

.loading {
    background-color: red;
}

.bottom-group {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.bottom-bottom-group {
    display: flex;
    justify-content: space-between;
}

.bottom-group-void {
    /* display: none; */

    padding: 10px;
    color: rgba(0, 0, 0, 0);
}

@keyframes swordEffect {
    from {
        transform: translateY(-25px);
    }
    
    to {
        transform: translateY(0);
    }
}

@media (max-width: 450px) {
    .frame {
        flex-direction: column;
        gap: 25px;
    }

    .right-frame {
        padding: 25px;
    }

    .left-frame {
        width: calc(100vw - 50px);
    }
    
    .button-group {
        justify-content: space-between;
    }
}

@media (min-width: 450px) {
    .container {
        margin: 25px auto;
    }

    .bottom-group {
        justify-content: space-between;
        height: 100vh;
    }
}
